.git
../.gitignore
.dockerignore

.vscode/
.idea/
*.swp

*.exe
*.dll
*.so
*.dylib
*.test
*.out
lunar
bin/
dist/

*.log
*.tmp
*.cache
*.pid

/vendor/
/coverage.out

/tmp/
/node_modules/
/web/node_modules/

/postgres_data/
/mongo_data/

.env
*.local
*.env.*

web/